@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Smart Event Platform</h1>
    <p class="lead">Manage events, locations and speakers</p>
</div>

<hr />

<div class="row mt-4">
    <div class="col-md-4 text-center">
        <h3>Events</h3>
        <p>Manage all events</p>
        <a class="btn btn-primary" asp-controller="Events" asp-action="Index">Go to Events</a>
    </div>

    <div class="col-md-4 text-center">
        <h3>Locations</h3>
        <p>Manage locations</p>
        <a class="btn btn-secondary" asp-controller="Locations" asp-action="Index">Go to Locations</a>
    </div>

    <div class="col-md-4 text-center">
        <h3>Speakers</h3>
        <p>Manage speakers</p>
        <a class="btn btn-success" asp-controller="Speakers" asp-action="Index">Go to Speakers</a>
    </div>
</div>